body{
	font-size: 16px; 
/*font-family*/
}

.container-fluid{
	padding: 0px;
}

#header-nav{
	border-radius: 0;
	border: 0;
}

.navbar-header{
	background-color: #00b3b3;
	width: 100%;
}
.navbar-brand{
	padding-bottom: 85px;
	padding-left: 50px;
}

.navbar-brand h1{
	color: #fff;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

#nav-list{
	text-align: center
}